
@model RegisterModel


<h1 class="text-2xl font-bold text-center mt-8">Register</h1>
<div class="ml-8  w-full">
    <form class="" method="post" asp-action="Register">
        <div class="form-group w-2/5">
            <label asp-for="Email" for="exampleInputEmail1" class="form-label mt-4">Email address</label>
            <input asp-for="Email" type="text" class="form-control h-14" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group w-2/5">
            <label asp-for="Password" for="exampleInputPassword1" class="form-label mt-4">Password</label>
            <input asp-for="Password" type="password" class="form-control h-14" id="exampleInputPassword1" placeholder="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group w-2/5">
            <label asp-for="ConfirmPassword" for="exampleInputPassword1" class="form-label mt-4">Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control h-14" id="exampleInputPassword1" placeholder="Password">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="d-grid gap-2 w-2/5 mt-16">
            <button class="btn btn-lg btn-primary" type="submit">Register</button>
        </div>
    </form>
</div>
