@model Book

<div class="modal fade" id="MyDeleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center text-delete">
                    Do you want to delete this book
                </div>
                <div class="flex w-full justify-between">
                    <form method="post" asp-controller="Home" asp-action="Delete" class="flex w-full justify-between">
                        <input name="Id" class="hidden-id" value="" type="hidden"/>
                        <button type="submit" asp-controller="Home" asp-action="Delete" class="btn btn-success delete-yes">Yes</button>
                        <button type="button" id="closeDeleteModal" class="btn btn-danger">No</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>